# Supabase Configuration
SUPABASE_URL = "SUPABASE_URL"
SUPABASE_KEY = "SUPABASE_KEY"

# Direct PostgreSQL connection for schema creation and data ingestion
DATABASE_URL = "db_url"


# OpenRouter API Key
OPENROUTER_API_KEY = "key"
